h1{
    font-size: 40;
    color: black;
    background-color: chartreuse;
    height: 42px;
    width: 50%;
    text-align: center;
    margin-left: 20px;
    padding: 10px;
    border-radius: 20px;

}

ol{
    font-size: 30px;
    background-color: rgb(156, 156, 119);
    margin: 12px;
    padding: 15px;
    border-radius: 20px;
    width: 20%;

    
}